<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/JustAnotherAdmin/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/JustAnotherAdmin">Home</a></li>
		        	<li><a href="/JustAnotherAdmin/about">About</a></li>
	        		<li><a href="/JustAnotherAdmin/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:thatguy@localhost.local">email</a></li>
	        		<li><a href="https://github.com/soccershoe">github.com/soccershoe</a></li>
				</ul>
			</footer>
		</body>
	</html>
